In [3]:
import pandas as pd

# Read the text file into a DataFrame
data = pd.read_csv('all_articles_files_names.txt', sep='\t', header=None, encoding='latin1', names=['author', 'disease', 'gene', 'article_count'])

# Count the number of genes for each author
author_gene_count = data.groupby('author')['gene'].nunique().reset_index()
author_gene_count.columns = ['author', 'gene_count']

# Save the output to a CSV file
author_gene_count.to_csv('autor_gene_count.csv', index=False)
author_gene_count

                 author  gene_count
0                -Zhu L           1
1     AU não encontrado           4
2            Aalbers MW           1
3             Aamodt AH           1
4            Aarsland D           1
...                 ...         ...
9573    von Dadelszen P           2
9574       von Felden J           1
9575   von Jonquieres G           1
9576   von Schnurbein J           1
9577          von Wyl V           1

[9578 rows x 2 columns]

In [9]:
import pandas as pd

# Read the text file into a DataFrame
data = pd.read_csv('all_articles_files_names.txt', sep='\t', header=None, encoding='latin1', names=['author', 'disease', 'gene', 'article_count'])

# Merge the first two columns
data['merged'] = data['author'] + '/' + data['disease']

# Replace the original columns with the merged column
data.drop(['author', 'disease'], axis=1, inplace=True)
data.rename(columns={'merged': 'author/disease'}, inplace=True)

# Rearrange the columns
data = data[['author/disease', 'gene', 'article_count']]

# Save the merged result to a new CSV file
data.to_csv('all_articles_files_names_merge.csv', index=False)
data

,author/disease,gene,article_count
0,Schofield TS/Asperger syndrome,matrix metallopeptidase 9,1
1,Sup Lee C/Asperger syndrome,matrix metallopeptidase 9,1
2,Peppers BP/Asperger syndrome,matrix metallopeptidase 9,1
3,Mauger T/Asperger syndrome,matrix metallopeptidase 9,1
4,Sivertsen B/Asperger syndrome,multiple sclerosis,1
...,...,...,...
16273,Wu Q/Pervasive developmental disorder,retinoic acid receptor alpha,2
16274,Li L/Pervasive developmental disorder,retinoic acid receptor alpha,4
16275,Yang T/Pervasive developmental disorder,retinoic acid receptor alpha,4
16276,Hou N/Pervasive developmental disorder,retinoic acid receptor alpha,1
16277,Li T/Pervasive developmental disorder,retinoic acid receptor alpha,6

In [2]:
import pandas as pd

# Read the text file into a DataFrame
data = pd.read_csv('all_articles_files_names.txt', sep='\t', header=None, encoding='latin1', names=['author', 'disease', 'gene', 'article_count'])

# Merge the first two columns
data['merged'] = data['author'] + '/' + data['disease']

# Replace the original columns with the merged column
data.drop(['author', 'disease'], axis=1, inplace=True)
data.rename(columns={'merged': 'author/disease'}, inplace=True)

# Reset the index and add a new column with IDs
data.reset_index(inplace=True)
data.rename(columns={'index': 'id'}, inplace=True)

# Rearrange the columns
data = data[['id', 'author/disease', 'gene', 'article_count']]

# Save the merged result to a new CSV file
data.to_csv('all_articles_files_names_merge_final.txt', sep='\t', index=False)

# Display the updated DataFrame
print(data)

          id                           author/disease  \
0          0           Schofield TS/Asperger syndrome
1          1              Sup Lee C/Asperger syndrome
2          2             Peppers BP/Asperger syndrome
3          3               Mauger T/Asperger syndrome
4          4            Sivertsen B/Asperger syndrome
...      ...                                      ...
16273  16273    Wu Q/Pervasive developmental disorder
16274  16274    Li L/Pervasive developmental disorder
16275  16275  Yang T/Pervasive developmental disorder
16276  16276   Hou N/Pervasive developmental disorder
16277  16277    Li T/Pervasive developmental disorder

                               gene  article_count
0         matrix metallopeptidase 9              1
1         matrix metallopeptidase 9              1
2         matrix metallopeptidase 9              1
3         matrix metallopeptidase 9              1
4                multiple sclerosis              1
...                             ...            ...
16273  retinoic acid receptor alpha              2
16274  retinoic acid receptor alpha              4
16275  retinoic acid receptor alpha              4
16276  retinoic acid receptor alpha              1
16277  retinoic acid receptor alpha              6

[16278 rows x 4 columns]

In [4]:
import pandas as pd

# Read the text file into a DataFrame
data = pd.read_csv('all_articles_files_names.txt', sep='\t', header=None, encoding='latin1', names=['author', 'disease', 'gene', 'article_count'])

# Assign unique IDs for each author
data['id'] = data.groupby('author').ngroup()

# Rearrange the columns
data = data[['id', 'author', 'disease', 'gene', 'article_count']]

# Save the merged result to a new CSV file
data.to_csv('all_articles_files_names_merge_final1.txt', sep='\t', index=False)

# Display the updated DataFrame
print(data)

         id        author                           disease  \
0      7373  Schofield TS                 Asperger syndrome
1      8040     Sup Lee C                 Asperger syndrome
2      6401    Peppers BP                 Asperger syndrome
3      5244      Mauger T                 Asperger syndrome
4      7724   Sivertsen B                 Asperger syndrome
...     ...           ...                               ...
16273  8994          Wu Q  Pervasive developmental disorder
16274  4689          Li L  Pervasive developmental disorder
16275  9136        Yang T  Pervasive developmental disorder
16276  3433         Hou N  Pervasive developmental disorder
16277  4701          Li T  Pervasive developmental disorder

                               gene  article_count
0         matrix metallopeptidase 9              1
1         matrix metallopeptidase 9              1
2         matrix metallopeptidase 9              1
3         matrix metallopeptidase 9              1
4                multiple sclerosis              1
...                             ...            ...
16273  retinoic acid receptor alpha              2
16274  retinoic acid receptor alpha              4
16275  retinoic acid receptor alpha              4
16276  retinoic acid receptor alpha              1
16277  retinoic acid receptor alpha              6

[16278 rows x 5 columns]

In [7]:
import pandas as pd

# Read the text file into a DataFrame
data = pd.read_csv('all_articles_files_names_merge_final1.txt', sep='\t', header=None, encoding='latin1', names=['id','author', 'disease', 'gene', 'article_count'])

# Merge the first two columns
data['merged'] = data['author'] + '/' + data['disease']

# Replace the original columns with the merged column
data.drop(['author', 'disease'], axis=1, inplace=True)
data.rename(columns={'merged': 'author/disease'}, inplace=True)

# Rearrange the columns
data = data[['id', 'author/disease', 'gene', 'article_count']]

# Save the merged result to a new CSV file
data.to_csv('all_articles_files_names_merge_final2.csv', index=False)
data

,id,author/disease,gene,article_count
0,id,author/disease,gene,article_count
1,7373,Schofield TS/Asperger syndrome,matrix metallopeptidase 9,1
2,8040,Sup Lee C/Asperger syndrome,matrix metallopeptidase 9,1
3,6401,Peppers BP/Asperger syndrome,matrix metallopeptidase 9,1
4,5244,Mauger T/Asperger syndrome,matrix metallopeptidase 9,1
...,...,...,...,...
16274,8994,Wu Q/Pervasive developmental disorder,retinoic acid receptor alpha,2
16275,4689,Li L/Pervasive developmental disorder,retinoic acid receptor alpha,4
16276,9136,Yang T/Pervasive developmental disorder,retinoic acid receptor alpha,4
16277,3433,Hou N/Pervasive developmental disorder,retinoic acid receptor alpha,1
16278,4701,Li T/Pervasive developmental disorder,retinoic acid receptor alpha,6